<footer id="app-footer">
    <i class="icon-e606 fz12" onclick="this.parentNode.className+=' dn'"></i>
    <a href="{$cms_abs}info.php?fid=113">
    <i class="icon-e9c5 down fz12"> 马上体验</i>
    {c$appic [tclass=farchives/] [casource=fcatalog177/] [limits=1/] [validperiod=1/] [orderstr=a.vieworder DESC/]}
    <img {c$image [tclass=image/] [tname=image/] [val=u/]}src="{url}"{/c$image} width="42" height="42"/>
    {/c$appic}
    <div class="grid">
        <div class="col-1 mt8">
            <span class="fz14">房产手机客户端</span><br/>
            <span class="fz12">查看实时新房、二手房、租房...</span>
        </div>
    </div>
    </a>
</footer>
