<!-- 360用极速模式 -->
<meta name="renderer" content="webkit">
<link rel="shortcut icon" type="image/ico" href="{c$image [tclass=image/] [tname=$user_favicon/] [val=u/]}{url}{/c$image}"/>
<meta content="IE=7" http-equiv="X-UA-Compatible"/>
<script type="text/javascript">
    var CMS_ABS = '{$cms_abs}'
    , hostname  = '{$hostname}'
    , tplurl    = '{$tplurl}'
    , vcodes    = '{$cms_regcode}';
    var originDomain = originDomain || document.domain;
    document.domain = '{$cms_top}' || document.domain;
</script>
<link rel="stylesheet" type="text/css" href="{$tplurl}css/jz_global.css?{$user_version}"/>
<!-- 类型 index | newhouse | money | business | oldhouse | rent | news | special | mobile | tools -->
<?php $pagetype = null; ?>