<div class="bd-gray clearfix">
    <div class="kftlc m9">
         <div class="item">
            <dl>
            <dt>报名登记</dt>
            <dd>对本次的看房团有兴趣？快报名吧!只要点击报名按钮，按照提示步骤执行就OK！</dd>
            </dl>
        </div>
         
        <div class="item">
            <dl>
            <dt>电话确认</dt>
            <dd>在活动前2-3天，工作人员会打电话通知集合时间及地点。</dd>
            </dl>
        </div>
         
        <div class="item">
            <dl>
            <dt>短信确认</dt>
            <dd>短信确认 发团前一天，发送短信告知及提醒集合时间及地点。</dd>
            </dl>
        </div>
         
        <div class="item">
            <dl>
            <dt>当天看房</dt>
            <dd>在约定时间内到达指定地点签到上车，按照该看房团安排线路参观项目返回集合地点</dd>
            </dl>
        </div>
         
        <div class="item">
            <dl>
            <dt>疑问咨询</dt>
            <dd>请在报名前或看房前致电400-0838-817转0进行咨询</dd>
            </dl>
        </div>

    </div>
</div>