<div class="w380 r">
	<div class="lp-coltit"><h3><a href="{c$jhlpqy1 [cname=激活楼盘区域/] [tclass=cnode/] [casource=2/] [listby=co1/] [cosource1=active/]}{indexurl1}{/c$jhlpqy1}" target="_blank">周边楼盘</a></h3></div>
	<ul class="lp-tlist3 p10 clearfix bd-gray">
		{c$zbrmlp [tclass=archives/] [chsource=2/] [chids=4/] [ttl=600/] [detail=1/] [ccidson1=1/] [cosource1=2/] [wherestr=((leixing='0' OR leixing='1') AND a.aid != '$aid')/]}
		<li><i class="td1"><a href="{arcurl}" title="{subject}" target="_blank">{c$subject30 [cname=subject30/] [tclass=text/] [tname=subject/] [trim=30/]}{/c$subject30}</a></i><i class="td2">{if $v['dj']}<b class="fcr">{dj}</b>元/m&sup2;{else}待定{/if}</i><i class="td3"><a target="_blank" href="{$cms_abs}info.php?fid=8&chid=4#aids={$aid},{aid}">对比</a></i></li>
		{/c$zbrmlp}
	</ul>


	<div class="lp-coltit"><h3><a href="{$cms_abs}index.php?caid=2&addno=1&djfrom=<?=$dj-500?>&djto=<?=$dj+500?>" target="_blank">同价位楼盘</a></h3></div>
	<ul class="lp-tlist3 p10 clearfix bd-gray">
		{c$zbrmlp [tclass=archives/] [chsource=2/] [chids=4/] [ttl=600/] [detail=1/] [cosource17=2/] [wherestr=((leixing='0' OR leixing='1') AND a.aid != '$aid' AND ($dj-500)<a.dj AND a.dj<($dj+500))/]}
		<li><i class="td1"><a href="{arcurl}" title="{subject}" target="_blank">{c$subject30 [cname=subject30/] [tclass=text/] [tname=subject/] [trim=30/]}{/c$subject30}</a></i><i class="td2">{if $v['dj']}<b class="fcr">{dj}</b>元/m&sup2;{else}待定{/if}</i><i class="td3">{ccid1title}</i></li>
		{/c$zbrmlp}
	</ul>


	<div class="lp-coltit"><h3><a href="{c$08cms [cname=楼盘列表链接/] [tclass=cnode/] [listby=ca/] [casource=2/]}{indexurl1}{/c$08cms}" target="_blank">热门楼盘</a></h3></div>
	<ul class="lp-tlist3 p10 clearfix bd-gray">
		{c$zbrmlp [tclass=archives/] [chsource=2/] [chids=4/] [ttl=600/] [detail=1/]  [orderstr=a.clicks DESC/] [wherestr=((leixing='0' OR leixing='1') AND a.aid != '$aid')/]}
		<li><i class="td1"><a href="{arcurl}" title="{subject}" target="_blank">{c$subject30 [cname=subject30/] [tclass=text/] [tname=subject/] [trim=30/]}{/c$subject30}</a></i><i class="td2">{if $v['dj']}<b class="fcr">{dj}</b>元/m&sup2;{else}待定{/if}</i><i class="td3">{ccid1title}</i></li>
		{/c$zbrmlp}
	</ul>

	<div class="lp-coltit"><h3>购房工具</h3></div>
	<div class="home-tools bd-gray">
		<a target="_blank" href="{c$08cms [tclass=freeurl/] [fid=3/]}{/c$08cms}" class="fdjs">贷款计算器</a>
		<a target="_blank" href="{c$08cms [tclass=freeurl/] [fid=5/]}{/c$08cms}" class="mlpg">购房能力评估</a>
		<a target="_blank" href="{c$08cms [tclass=freeurl/] [fid=6/]}{/c$08cms}" class="gjjdk">公积金贷款</a>
		<a target="_blank" href="{c$08cms [tclass=freeurl/] [fid=4/]}{/c$08cms}" class="tqhd">提前还贷</a>
		<a target="_blank" href="{c$08cms [tclass=freeurl/] [fid=108/]}{/c$08cms}" class="gfsf">税费计算器</a>
		<a href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=2/]}{indexurl1}{/c$cnode}" class="lpsc" target="_blank">楼盘速查</a>
	</div>
	<div class="blank10"></div>
</div>
