<div class="bar-single">
    <a href="#" data-target="back"><span class="icon-e68c"></span></a>
</div>
<div class="bar-single right">
    <a class="icon dn" id="img-org"><span class="icon-e735"></span></a>
    <a data-target="menu" href="#menu" class="icon dn" id="menu"><span class="icon-ea5b fz15"></span></a>
    <a href="{c$caidx [tclass=cnode/] [listby=ca/] [casource=11/]}{indexurl}{/c$caidx}"><span class="icon-e756"></span></a>
    <a class="menu icon" style="text-indent:1px"><span class="icon-f0ca"></span></a>
</div>