<footer>
        <a class="{if $caid==612}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=612/]}{indexurl}{/c$cnode}"><i class="icon-e618"></i>写字楼盘</a>
        <a class="{if $caid==613}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=613/]}{indexurl}{/c$cnode}"><i class="icon-e637"></i>买写字楼</a>
        <a class="{if $caid==614}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=614/]}{indexurl}{/c$cnode}"><i class="icon-e635"></i>租写字楼</a>
        <a class="menu"><i class="icon-e634"></i>更多</a>
    </footer>
{tpl$m_header}