<footer>
    <a class="{if $caid==616}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=616/]}{indexurl}{/c$cnode}"><i class="icon-e618"></i>商铺楼盘</a>
    <a class="{if $caid==617}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=617/]}{indexurl}{/c$cnode}"><i class="icon-e637"></i>买商铺</a>
    <a class="{if $caid==618}active{/if}" href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=618/]}{indexurl}{/c$cnode}"><i class="icon-e635"></i>租商铺</a>
    <a class="menu"><i class="icon-e634"></i>更多</a>
</footer>
{tpl$m_header}