{c$member [tclass=member/] [chids=2/] [chsource=2/] [val=m/] [detail=1/]}
<?php if(empty($m['mid']))cls_Parse::Message('请指定会员'); ?>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={$mcharset}">
    <title>{xingming}网店-网店介绍-{$hostname}</title>
    <meta content="{xingming}" name="keywords">
    <meta content="{xingming}{if !empty($m['address'])},地址是{address}{/if}{if $m['lxdh']},电话是{lxdh}{/if}{if $m['qq']},联系QQ是{qq}{/if}" name="description">
    {tpl$m_headinner}
    <?php
    cls_Parse::Set('_da.ordermode',cls_env::GetG('ordermode'));
    foreach(array('ccid5','ccid6','orderby','ordermode','searchword') as $k) $$k = cls_Parse::Get("_da.$k");
    cls_uso::init(array(
        'ntype' => 'oc',
        'chid' => 2,
        'nodes' => array('caid','mid'),
        'orderbys' => array('ccid19','mj','zj','dj'),
        'addno' => 2
    ));
    extract(cls_usql::order_str(1,'a.ccid19 DESC,a.refreshdate DESC'));
    $whrstr = cls_usql::where_str(array(
      array('subject','searchword'),array('shi')//,address
    ),u_exsql(2)); //echo $whrstr;
    $otherdf=1;
    $pagelimit=8;
    ?>
</head>
<body>
<div id="aside_container">
    <aside id="menu" data-position="right" data-transition="overlay" data-show-close="true">
        <div><!-- 表单 -->
            <div class="clearfix">
                <div class="bar-search">
                    <form method="get" action="{$mobileurl}index.php">
                        <input type="hidden" name="caid" value="13"/>
                        <input type="hidden" name="mid" value="{mid}"/>
                        <input type="hidden" name="addno" value="2"/>
                        <input type="text" class="txt" name="searchword" placeholder="关键词">
                        <button type="submit" class="icon-f002"></button>
                    </form>
                </div>
            </div>
            <dl class="conditions">
                <dt><span class="icon-f009 left"></span>户型：</dt>
                <dd>
                    <a href='<? echo cls_uso::extra_url('shi'); ?>' {if empty($_da['shi'])}class='pomegranate'{/if}>不限</a>
                    <? $_rows = cls_uso::field_urls('shi'); ?>
                    {loop $_rows $k $v}
                    <a {if @$_da['shi']==$k}class='pomegranate'{/if} href="{$v[url]}">{$v[title]}</a>
                    {/loop}
                </dd>
            </dl>
            <dl class="conditions">
                <dt><span class="icon-f009 left"></span>价格：</dt>
                <dd>
                    <a {if empty($ccid5)}class='pomegranate'{/if} href="<? echo cls_uso::extra_url(5); ?>">不限</a>
                    <? $_rows = cls_uso::caco_urls(5); ?>
                    {loop $_rows $k $v} <a href="<? echo cls_uso::extra_url('ccid5',"&ccid5=$k"); ?>" {if $ccid5==$k}class='pomegranate'{/if}>{$v[title]}</a> {/loop}
                </dd>
            </dl>
            <dl class="conditions">
                <dt><span class="icon-f009 left"></span>面积：</dt>
                <dd>
                    <a {if empty($ccid6)}class='pomegranate'{/if} href="<? echo cls_uso::extra_url('ccid6'); ?>">不限</a>
                    <? $_rows = cls_uso::caco_urls(6); ?>
                    {loop $_rows $k $v} <a href="{$v[url]}" {if $ccid6==$k}class='pomegranate'{/if}>{$v[title]}</a> {/loop}
                </dd>
            </dl>
        </div>
    </aside>
</div>
<div id="section_container">
    <!-- 页面容器 -->
    <section id="index_section" title="{xingming}网店" class="active" data-btn="back">
        <footer>
        <a href="{$mobileurl}index.php?caid=13&mid={mid}#index_section">
            <i class="icon-f015"></i>店铺首页</a>
        <a href="{$mobileurl}index.php?caid=13&mid={mid}&addno=1"><i class="icon-e61a"></i>二手房</a>
        <a href="{$mobileurl}index.php?caid=13&mid={mid}&addno=2"  class="active"><i class="icon-e623"></i>出租</a>
        <a href="{$mobileurl}index.php?caid=13&mid={mid}#message_section"><i class="icon-e755"></i>留言</a>
        {if $m['lxdh']}
        <a href="tel:{lxdh}"><i class="icon-e612"></i>打电话</a>
        {/if}
        </footer>
        {tpl$m_header}
        <article id="up_refresh_article" class="active" >
            <div>
                <ul class="list list-media">
                    <?php $pick_urls=cls_uso::pick_urls();
                          unset($pick_urls['caid'],$pick_urls['mid']);
                    ?>
                    {if $pick_urls}
                    <li class="divider">
                        <div class="grid">
                            当前条件：
                            <div class="col-1 f-asbestos">
                            {loop $pick_urls $k $v}
                            <a title="取消此条件" class="icon-f057 button-s" href="{$v['url']}">{$v['title']}</a>
                            {/loop}
                            <a class="icon-f0e2 button-s" title="取消所有" href="{$mobileurl}index.php?caid=13&mid={mid}&addno=2">取消</a>
                            </div>
                        </div>
                    </li>
                    {/if}
                    <li class="divider">
                        <div class="grid">
                            <div class="col-1">出租</div>
                            <div class="col-0">
                                <span class="f-asbestos">
                                    <a rel="nofollow" href="<? echo cls_uso::extra_url('orderby'); ?>">默认</a>
                                    <?=cls_uso::order_tpl('<a class="(class)" rel="nofollow" href="(url)">价格</a>', "zj", array('icon-e62c down','icon-e62d up','icon-e62c'))?>
                                    <?=cls_uso::order_tpl('<a class="(class)" rel="nofollow" href="(url)">单价</a>', "dj", array('icon-e62c down','icon-e62d up','icon-e62c'))?>
                                    <?=cls_uso::order_tpl('<a class="(class)" rel="nofollow" href="(url)">面积</a>', "mj", array('icon-e62c down','icon-e62d up','icon-e62c'))?>
                                </span>&nbsp;
                                <a data-target="menu" href="#menu" class="icon button carrot"><span class="icon-ea5b fz12"></span>筛选</a>
                            </div>
                        </div>
                    </li>
                    {c$czinfo [tclass=archives/] [chids=2/] [chsource=2/] [ccidson5=1/] [cosource5=2/] [ccidson6=1/] [cosource6=2/] [space=1/] [validperiod=1/] [detail=1/] [limits=$pagelimit/] [orderstr=$orderstr/] [wherestr=$whrstr/]}
                    <? $allnum=count($_czinfo);?>
                    [row]
                    <li>
                        <a href="{arcurl}">
                            <img class="media-object" width="85" height="65" alt="{subject}" src="{c$image [tclass=image/] [tname=thumb/] [val=u/] [maxwidth=85/] [maxheight=65/] [thumb=1/]}{url_s}{/c$image}">
                            <div class="grid">
                                <div class="col-1">
                                    <strong>{subject}</strong>
                                </div>
                                {if $v['zj']}<span class="f-alizarin">{zj}</span>元/月{else}<span class="fcb">面议</span>{/if}
                            </div>
                            <div class="grid"><div class="col-1"><span class="f-asbestos substr">{if $v['imgnum']}<b class="icon-e735 f-peter-river"></b>{/if}{lpmc}</span></div>{if $v['shi']!=100}{c$shi}{/if}{if $v['ting']!=100}{c$ting}{/if}</div>
                            <p><span class="label">{ccid1title}</span>{if $v['ccid44title']}<span class="label">{ccid44title}</span>{/if}{if $v['fl']}<span class="label">{c$flfl}</span>{/if}{if $v['zxcd']}<span class="label">{c$zxcd}</span>{/if}{if $v['cx']}<span class="label">{c$cxcx}</span>{/if}</p>
                        </a>
                    </li>
                    [/row]
                    {/c$czinfo}
                     {if @$allnum==0}<li class="noinfo">~ 暂无相关数据 ~</li>{/if}
                </ul>
                <div id="upinfo_js" class="refresh-container f-asbestos dn"><span class="refresh-icon icon-e61c"></span><span class="refresh-label">上拉加载更多...</span></div>
            </div>
        </article>
    </section>
</div>
<script>
//加载数据设置
var opt = {
    _param : {
        'aj_model'     : 'a,2,1', //模型信息(a-文档/m-会员/cu-交互/co-类目,3,1-模型表; 如:a,3,1)
        'aj_pagesize'  : {$pagelimit},
        'aj_vaild'     : 1 ,
        'aj_whrfields' : 'subject,like,<?=cls_Parse::Get("_da.searchword");?>;shi,=;ccid5,auto,{$ccid5};ccid6,auto,{$ccid6};mid,=,{mid}',
        'aj_deforder'  : 'ccid19 DESC,refreshdate DESC',
        'aj_thumb'     : 'thumb,85,65'
    } ,
    filterUrl : '&<?php echo cls_uso::$urls['fullurl']; ?>' ,//从地址获取的url参数
    wrap      : '#up_refresh_article' ,
    dataWrap  : '#up_refresh_article ul.list' ,
    template : function() {
        return '<li>'
            + '    <a href="'+this.arcurl+'"> '
            + '        <img class="media-object" width="85" height="65" alt="'+this.subject+'" src="'+(this.thumb||CMS_ABS+'images/common/nopic.gif')+'">'
            + '<div class="grid">'
            + '<div class="col-1"><strong>'+this.subject+'</strong></div>'+(this.zj>0?'<span class="f-alizarin">'+this.zj+'</span>元/月':'<span class="fcb">面议</span>')+'</div>'
            + '        <div class="grid">'
            + '            <div class="col-1"><span class="f-asbestos substr">'+(this.imgnum > 0?'<b class="icon-e735 f-peter-river"></b>':'')+this.lpmc+'</span></div>'
            +this.shititle+this.tingtitle +'</div>'
            + '        <p><span class="label">'+this.ccid1title+'</span>'+(this.ccid44title&&'<span class="label">'+this.ccid44title+'</span>')+(this.fltitle&&'<span class="label">'+this.fltitle+'</span>')+(this.zxcdtitle&&'<span class="label">'+this.zxcdtitle+'</span>')+(this.cxtitle&&'<span class="label">'+this.cxtitle+'</span>')
            + '        </p>'
            + '    </a>'
            + '</li>'
    }
}

</script>
{tpl$m_footer}
</body>
</html>
{/c$member}