<div id="boxhead">
    <!-- 顶部导航 begin --> 
    <!----模板人员添加顶部导航-->
    <!-- 顶部导航 end --> 
  <div id="topbardiv" class="mapsearch">
    <div class="mapsearchlogo"><a href="{$cms_abs}" title="{hostname}" target="_blank"><img {c$toubuzhandianlogo [cname=头部站点logo/] [tclass=image/] [tname=cmslogo/]}src="{url}" height="65"{/c$toubuzhandianlogo} alt="{hostname}" border="0" /></a></div>
    <div class="mapsearchright">
      <div class="mapsearchrightnav">
        <div class="{if $chid==4}navtdup{else}navtd{/if}"><a href="{c$dtzf [cname=地图找房/] [tclass=freeurl/] [fid=117/]}{/c$dtzf}" target="_blank">新房</a></div>
        <div class="navtd"><a href="{c$dtzf [cname=地图找二手房/] [tclass=freeurl/] [fid=1/]}{/c$dtzf}" >二手房</a></div>
        <div class="navtd"><a href="{c$dtzf [cname=地图找租房/] [tclass=freeurl/] [fid=116/]}{/c$dtzf}" >租房</a></div>
        <div class="navtd"><a href="{c$dtzf [cname=地图找商家/] [tclass=freeurl/] [fid=118/]}{/c$dtzf}" >商家地图</a></div>
        <div class="navtd"><a href="{c$dtzf [cname=地图找装修公司/] [tclass=freeurl/] [fid=119/]}{/c$dtzf}" >装修公司</a></div>
      </div>
      <div class="mapsearchrightform">
        <input type="text" class="inputstyle_out" value=""   id="keyword" style="color: Gray;
                        font-size: 12px;padding-left: 26px;" />
        <span class="inpbj"></span>
        <input type="button"  class="button" id="btnSearch"  style="margin-left:-26px"/>
      </div>
    </div>
    <div class="clear"></div>
    </div>
  </div>