<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
<title>{subject}-{if $companynm}{companynm}{else}{mname}{/if}-{$hostname}</title>
<meta content="{companynm}" name="keywords"> 
<meta content="{companynm}{if $dizhi},地址是{dizhi}{/if}{if $lxdh},电话是{lxdh}{/if}{if $qq},联系QQ是{qq}{/if}" name="description">
{tpl$jz_headinner}
<?php $mcaid=7 ?>
</head>
<body>
<!--header begin-->
 {tpl$jz_sj_head}
<div class="container">
	<div class="con">
		<!--左侧栏开始-->
		{tpl$jz_sj_left}
		<!--左侧栏结束  右侧栏开始-->
		<div class="right_bar">
			<div class="title3">
				<div class="title3_l"></div>
				<div class="title3_m">{subject}</div>
				<div class="title3_r"></div>
				<div class="title3_m2"></div>
			</div>
			<!--所有商品结束 特价商品开始-->
			<div class="right_con2 sysp clearfix">{content}</div>
			<div class="right_b">
				<div class="right_b_l"></div>
				<div class="right_b_r"></div>
			</div>
		</div>
		<div class="blank0"></div>
	</div>
</div> 
{tpl$jz_foot}
</body>
</html>
