<?php
foreach(array('ccid1','ccid2','ccid5','ccid6','ccid34','mjfrom','mjto','zjfrom','zjto','orderby','ordermode','searchword') as $k) $$k = cls_Parse::Get("_da.$k");
cls_uso::init(array(
    'ntype' => 'c', //cm,m,oc,om
    'chid' => 119, 
    'rids' => array(1,2), 
    'nodes' => array('0','0,1'),
    'orderbys' => array('mj','zj','dj'),
    //'addno' => 1
));
extract(cls_usql::order_str(1,'a.ccid9 DESC,a.refreshdate DESC'));
$whrstr = cls_usql::where_str(array(
	array('subject,address,lpmc','searchword'), //,address
),u_exsql(119)); //echo $whrstr;
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
<title>{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/]}{listtitle}{/c$cnode}{c$lpdh1 [tclass=nownav/] [coids=ccid1,ccid2,ccid3,ccid4,ccid5,ccid6,ccid8,ccid12,ccid14,ccid17,ccid18/]}-{title}{/c$lpdh1}-{$hostname}</title>
{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/]}
<meta name="keywords" content="{listkeywords}"/>
<meta name="description" content="{listabstract}"/>
{/c$cnode}
{tpl$headinner}
<link rel="stylesheet" type="text/css" href="{$tplurl}css/realestate.css?{$user_version}"/>
<?php $pagetype = 'business'; ?>
</head>
<body>
<!--商业地产公用导航与搜索-->
{tpl$realestate_sonav}
<div class="wrap">
	<!--写字楼楼盘检索条件-->
	<div class="fysearch clearfix">
		<ul class="fyjiansuo clearfix">
    <li class="list-1"> <b>区域：</b> 
        <a {if empty($ccid1)}class='act'{/if} href="<? echo cls_uso::extra_url(1); ?>">不限</a>
        <? $_rows = cls_uso::caco_urls(1); ?>
        {loop $_rows $k $v} <a href="{$v[url]}" {if $ccid1==$k}class='act'{/if}>{$v[title]}</a> {/loop} 
      </li>
      {if !empty($ccid1)}
      <li class="list-1"> <b>商圈：</b> 
        <a {if empty($ccid2)}class='act'{/if} href="<? echo cls_uso::extra_url(2); ?>">不限</a>
        <? $_rows = cls_uso::caco_urls(2); ?>
        {loop $_rows $k $v} <a href="{$v[url]}" {if $ccid2==$k}class='act'{/if}>{$v[title]}</a> {/loop}
      </li>
      {/if}
    <li class="list-4"><b>价格：</b>
        <a {if empty($ccid5)&&empty($zjfrom)&&empty($zjto)}class='act'{/if} href="<? echo cls_uso::extra_url('ccid5|zjfrom|zjto'); ?>">不限</a>
        <? $_rows = cls_uso::caco_urls(5); ?>
        {loop $_rows $k $v} <a href="<? echo cls_uso::extra_url('ccid5|zjfrom|zjto',"&ccid5=$k"); ?>" {if $ccid5==$k}class='act'{/if}>{$v[title]}</a> {/loop} 
        <span class="set">
        <form action="{$cms_abs}index.php" method="get">
          <input type="hidden" name="caid" value="{$caid}">
          <input type="text" class="txt1" pattern="^[0-9]+.?[0-9]*$" title="请输入最低价格" name="zjfrom" value="<?php echo(empty($zjfrom) ? '' : $zjfrom); ?>" size="4">
          -
          <input type="text" class="txt1" pattern="^[0-9]+.?[0-9]*$" title="请输入最高价格" name="zjto" value="<?php echo(empty($zjto) ? '' : $zjto); ?>" size="4">
          万
          <input class="btn1" type="submit" value="确定">
        </form>
        </span>
      </li>
    <li class="list-4"><b>面积：</b>
        <a {if empty($ccid6)&&empty($mjfrom)&&empty($mjto)}class='act'{/if} href="<? echo cls_uso::extra_url('ccid6|mjfrom|mjto'); ?>">不限</a>
        <? $_rows = cls_uso::caco_urls(6); ?>
        {loop $_rows $k $v} <a href="<? echo cls_uso::extra_url('ccid6|mjfrom|mjto',"&ccid6=$k"); ?>" {if $ccid6==$k}class='act'{/if}>{$v[title]}</a> {/loop} 
        <span class="set">
        <form action="{$cms_abs}index.php" method="get">
          <input type="hidden" name="caid" value="{$caid}">
          <input type="text" class="txt1" pattern="^[0-9]+.?[0-9]*$" title="请输入最小面积" name="mjfrom" value="<?php echo(empty($mjfrom) ? '' : $mjfrom); ?>" size="4">
          -
          <input class="txt1" type="text" pattern="^[0-9]+.?[0-9]*$" title="请输入最大面积" name="mjto" value="<?php echo(empty($mjto) ? '' : $mjto); ?>" size="4">
          m&sup2;
          <input class="btn1" type="submit" value="确定">
        </form>
        </span>
      </li>
    <li class="list-1"> <b>房龄：</b> 
        <a {if empty($ccid34)}class='act'{/if} href="<? echo cls_uso::extra_url(34); ?>">不限</a>
        <? $_rows = cls_uso::caco_urls(34); ?>
        {loop $_rows $k $v} <a href="{$v[url]}" {if $ccid34==$k}class='act'{/if}>{$v[title]}</a> {/loop} 
      </li>
  </ul>
    <div class="blank5"></div>
	</div>
	<div class="blank10"></div>
	<div class="w940 l">
		<div class="fsTil clearfix">
			<div class="r sxpage"  id="sxpage"></div>
			<strong>全部房源</strong>
		</div>
		<div class="bar-sort clearfix">
			<div class="l">共有<span class="fcr" id="lpcount">0</span>个房源符合您的需求</div>
			<em class="r"> 
				<a class="btn-sort {if empty($_da['orderby'])}act{/if}" href="<?=cls_uso::extra_url('orderby|ordermode')?>">默认</a>
            <?=cls_uso::order_tpl('<a class="btn-sort (class)" rel="nofollow" href="(url)">价格<i class="ico08 u">&#xf0dc;</i><i class="ico08 d">&#xf0db;</i></a>', "zj", array("act bldown","act blup",""))?>
            <?=cls_uso::order_tpl('<a class="btn-sort (class)" rel="nofollow" href="(url)">面积<i class="ico08 u">&#xf0dc;</i><i class="ico08 d">&#xf0db;</i></a>', "mj", array("act bldown","act blup",""))?>
			</em>
		</div>
		<div class="blank0"></div>
			{c$officecsls [tclass=archives/] [chids=119/] [chsource=2/] [val=aa/] [ccidson1=1/] [cosource1=2/] [ccidson2=1/] [cosource2=2/] [ccidson5=1/] [cosource5=2/] [ccidson34=1/] [cosource34=2/] [ccidson6=1/] [cosource6=2/] [validperiod=1/] [detail=1/] [wherestr=$whrstr/] [orderstr=$orderstr/] [mp=1/]}
			<div class="sydclist">
                <div class="pic"><a title="{subject}" href="{arcurl}" target="_blank"><img  alt="{subject}" {c$thumb [tclass=image/] [tname=thumb/] [val=u/] [maxwidth=130/] [maxheight=100/] [thumb=1/]} width="130" height="100"  data-original="{url_s}" src="{$cms_abs}userfiles/notdel/blank.gif" {/c$thumb}></a></div>
                <div class="info"> 
                    <em><a class="fz14 fwb" href="{arcurl}" target="_blank">{subject}</a><span class="icons">{if $aa['ccid9']}<b class="icon">置顶</b>{/if}</span></em> 
                    <em>{if $aa['ccid1']}[{ccid1title}-{ccid2title}]{/if}{address}</em> 
                    <em>{if $aa['fl']}{c$fl2 [tclass=field/] [tname=fl/] [type=archive/] [fname=fl/]}{/c$fl2}房龄{/if} {if $aa['szlc']}{szlc}/{zlc}层{/if} {if $aa['zxcd']}{c$zxcd2 [tclass=field/] [tname=zxcd/] [type=archive/] [fname=zxcd/]}{/c$zxcd2}{/if} {if $aa['cx']}{c$cx2 [tclass=field/] [tname=cx/] [type=archive/] [fname=cx/]}{/c$cx2}{/if}</em> 

                    <em> {if $aa['mid']!=0}
                    {c$fyhy1 [tclass=member/] [val=c/] [detail=1/]}
                    {if !empty($c['grouptype13'])} {if !empty($c['xingming'])}{xingming}{else}{mname}{/if}(个人)
                    {else}
                    {if $c['incheck4']}{c$jjrgs2 [tclass=member/] [val=a/] [arid=4/]}<a href="{mspacehome}" target="_blank" title="{cmane}">{c$cmane12 [cname=cmane12/] [tclass=text/] [tname=cmane/] [trim=12/]}{/c$cmane12}</a>{/c$jjrgs2}{/if}<a class="fco" href="{mspacehome}"><i class="ico08">&#xe756;</i>{if !empty($c['xingming'])}{xingming}{else}{mname}{/if}</a>(经纪人)
                        {if !empty($c['grouptype17'])}
                            {c$xytb [cname=信用图标/] [tclass=fromid/] [val=d/] [type=grouptype17/] [id=$c[grouptype17]/] [idsoruce=0/]} 
                    <img {c$ico [cname=ico/] [tclass=image/] [tname=ico/] [val=u/]}src="{url}"{/c$ico} alt="信用图标"/> 
                            {/c$xytb}
                        {/if}
                    {/if}
                    {/c$fyhy1}
                    {else}
                    {xingming}
                    {/if}
                    <span><?=u_time_format($aa['refreshdate'])?>更新</span> 
                </em> 
                </div>
                <div class="info3 arial"> 
                    {if $aa['zj']} 
                    <em><i class="zj">{zj}</i>元/月</em>
                    {else}
                    <em><i class="zj">面议</i></em>
                    {/if}
                    {if $aa['mj']}<em>面积：<i>{mj}</i>m&sup2;</em>{/if}
                    <em class="yx"><a class="yxinfobnt" data-aid="{aid}"><i class="ico08">&#xf07a;</i>我有意向</a>
                    </em> 
                </div>
                <div class="blank0"></div>
            </div>
            {/c$officecsls}
            {if $mpacount>0}
            <div class="blank10"></div>
            {$mpnav}
            {else}
            <div class="noinfo">很抱歉！暂无{if @$searchword}<span>"{searchword}"</span>{/if}{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/] }{title}{/c$cnode}信息</div>
            {/if}
		</div>
		<!--写字楼出售/出租列表公用右侧-->
		{tpl$office_lsright}
</div>

{tpl$foot}
<script src="{$tplurl}js/jquery.lazyload.min.js" type="text/javascript"></script>
<script type="text/javascript">
$('.pic img').lazyload({effect : "fadeIn"});
$(".yxinfobnt").click(function(){
	$("#yxaid").val($(this).attr("data-aid"));
	modalExt('#pop-buy', '我有意向');
});
</script>
<!-- 意向 -->
<div id="pop-buy" class="dn pop" style="width: 400px;">
    <div class="phlayer plr10">
        <div class="blank10"></div>
        <form name="buyFm" id="buyFm" onsubmit="return fyCummus(this,'意向提交',1)">
            <input type="hidden" name="cuid" value="46" /><!--交互项目id-->
            <input type="hidden" name="aid" id="yxaid" value="" /><!--针对文档的aid,不是针对文档就不要这项-->
            <dl>
                <dt>联&nbsp;系&nbsp;人：</dt>
                <dd>
                    <input type="text" class="txt" rule="text" must="1" min="4" name="fmdata[uname]" value=""/>
                </dd>
                <dt>联系电话：</dt>
                <dd>
                    <input type="text" class="txt" rule="text" regx="/^\s*\d{3,4}[-]?\d{7,8}\s*$/" min="6" max="50"  name="fmdata[utel]" value=""/>
                </dd>
                {c$regcode [tclass=regcode/] [type=commu46/] [js=1/]}
                <dt>验&nbsp;证&nbsp;码：</dt>
                <dd><?php echo _08_HTML::getCode('buyFm1', 'buyFm', 'txt');?></dd>
                {/c$regcode}
                <dd class="submit">
                    <input type="submit" class="btn" value="提交意向"/>
                </dd>
            </dl>
        </form>
    </div>
</div>
<script type="text/javascript">
$('#sxpage').html('<a href="{$mppre}" class="blprev ico08">&#xf0dd;</a><span>{$mppage}/{$mpcount}</span><a href="{$mpnext}" class="rnext blnext ico08">&#xf0de;</a>');
$('#lpcount').html('{$mpacount}');
</script>
</body>
</html>