<div class="bgFB">
<!-- {tpl$head-}  -->
</div>
<link rel="stylesheet" type="text/css" href="{$tplurl}css/phonebm.css?{$user_version}" />
<div class="tophead">
  <div class="wrap">
    <div class="phnav r pR15 mT10"><a href="{c$kfturl [tclass=freeurl/] [fid=109/]}{/c$kfturl}" {if $fid==109}class="act"{/if}>手机客户端</a> <a href="{c$wapurl [tclass=freeurl/] [fid=110/]}{/c$wapurl}" {if $fid==110}class="act"{/if}>手机版</a> </div>
    <div class="phlogo"> <a href="#" rel="nofollow"><img src="{c$image [tclass=image/] [tname=$user_phone/] [val=u/] [maxwidth=310/] [maxheight=60/]}{url}{/c$image}" width="310" height="60"/></a> </div>
  </div>
</div>