<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
<title>{subject}点评{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/]}-{listtitle}{/c$cnode}{c$nownav [cname=nownav/] [tclass=nownav/] [coids=ccid1,ccid14,ccid17,ccid6,ccid12,ccid18/]}-{title}{/c$nownav}-{$hostname}</title>
<meta name="keywords" content="{keywords}"/>
<meta name="description" content="{abstract}"/>
{tpl$headinner}
</head>
<body>
<!--写字楼与商铺楼盘内页公用导航-->
{tpl$office_lpnav}
<script type="text/javascript" src="{$tplurl}js/jquery.js"></script>
<div class="wrap clearfix">
	<div class="w900 l">{tpl$lpdp}</div>
    <!-- 写字楼与商铺楼盘右侧 -->
    {tpl$office_lpright}
</div>
<script type="text/javascript" src="{$tplurl}js/lp.js"></script>
{tpl$tpl_lp_footer}
</body>
</html>