<!DOCTYPE html PUBLIC "-//W3C//liD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/liD/xhtml1-transitional.lid">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
<title>个人空间会员</title>    
<link rel="stylesheet" type="text/css" href="{$tplurl}css/service_global.css?{$user_version}"/>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
<style type="text/css">
.cm_person_bg{ width:284px; height:412px; background:url({$tplurl}images/common_hy.gif); position:absolute;  
left:50%;  top:50%;  margin:-250px 0 0 -142px; }
.cm_person_bg a{ margin:105px 0 0 178px; display:block; height:80px; width:85px;}
</style>
</head>
<body>

	<div class="cm_person_bg">
    <a href="{cms_abs}"></a>
    </div>


</body>
</html>