<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
<title>{subject}_{c$yjlmtit2 [tclass=cnode/] [listby=ca/] [casource=active/] [level=2/]}{listtitle}{/c$yjlmtit2}{c$yjlmtit [tclass=cnode/] [listby=ca/] [casource=active/] [level=1/]}-{listtitle}{/c$yjlmtit}-{hostname}</title>
<meta content="{keywords}" name='keywords'>
<meta content="{abstract}" name='description'>
{tpl$headinner}
<link rel="stylesheet" type="text/css" href="{$tplurl}css/tk.css?{$user_version}"/>
</head>
<body>
<!--图库统一头部-->
{tpl$tpl_tkhead}
<script type="text/javascript" src="{$tplurl}js/jquery.js" /></script>
<div class="wrap">
	<div class="blank8"></div>
	<div class="content5 bgimg pos clearfix">
	<div class="plr20">
		<h2>{subject}<span class="info">{c$createdate [tclass=date/] [tname=createdate/] [date=Y-m-d/]}{/c$createdate} <i>点击量</i> <b>(<div class="count08" id="_08_count_xxx_{aid}" url-params="{type: 'a', modid: 112, field: 'clicks'}">&nbsp;</div>)</b> | <span class="yt"><a target="_blank" class="viewOrig" href="#" id="viewOrig">查看原图</a></span></span></h2>
	</div>
	<div class="blank10"></div>
	<div class="pic" id="picblH">
		<div id="big" class="big por" style="height:500px">
			<div id="biglist" class="biglist">
				<div id="detail-title" class="detail-title">
					<div class="count">
						<span class="numerator"></span>
						<span class="denominator"></span>
					</div>
					<div class="tit"></div>
				</div>
			</div>
			<div id="endLayer" class="endLayer" style="display:none">
				<span class="close" onclick="this.parentNode.style.display='none'">×</span>
				<div class="tip"> 浏览结束! </div>
				<div class="btn-group">
					<a onclick="$('#photolist').find('li').first().click();">重新浏览</a>{c$next_tuji [tclass=archives/] [limits=1/] [chsource=2/] [chids=112/] [caidson=1/] [casource=2/] [orderstr=a.aid ASC/] [wherestr=a.aid > '$aid'/] [ttl=1200/]}<a href="{arcurl}">浏览下一个图集</a>{/c$next_tuji}<a href="{c$cnode [tclass=cnode/] [listby=ca/] [casource=600/]}{indexurl}{/c$cnode}">返回频道首页</a>
				</div>
				<div class="rel-plist">
					<!-- plist -->
					<ul class="clearfix">
						{c$archives [tclass=archives/] [chids=112/] [chsource=2/] [limits=4/] [mode=relate/] [ttl=600/]}
						<li><a href="{arcurl}" target="_top"><img alt="{subject}" {c$image [tclass=image/] [tname=thumb/] [val=u/] [maxwidth=120/] [maxheight=90/] [thumb=1/]} src="{url_s}"  height="90" width="120" {/c$image}/><em>{subject}</em></a></li>
                        {/c$archives}
                    </ul>
				</div>
			</div>
		</div>
	</div>
	<div class=" blank1"></div>
	<div class="blank10"></div>
	<!-- 图片列表 -->
	<div class="pList">
		<div style="overflow:hidden">
			<ul id="photolist" style="width:99999px">
				 {c$picplist  [tclass=images/] [tname=tuji/]  [limits=100/] [maxwidth=120/] [maxheight=90/] [thumb=2/]}
				 <li data-url="{url}" data-title="{title}"> <img alt="{title}" width="120" height="90" src="{url_s}"/> </li>
				{/c$picplist}
			</ul>
		</div>
		<a href="javascript:void(0);" rel="nofollow" class="btnL" id="scrlPrev"></a>
		<a href="javascript:void(0);" rel="nofollow" class="btnR" id="scrlNext"></a>
	</div>

	</div>
	<script type="text/javascript" src="{$tplurl}js/gallery.js"></script>
	<script type = "text/javascript" >
	    $('#detail-title').css('display','block');
	    $.gallery({
	        big:'#biglist'
	        ,small:'#photolist'
	        ,botPrev:'#scrlPrev'
	        ,botNext:'#scrlNext'
	        ,visible:6
	        ,maxW:940
	        ,maxH:500
	        ,title:'#detail-title .tit'
	        ,oImg:'#viewOrig'
	        ,showIndex:1
	        ,showBigBot:1
	        ,keyboard:1
	        ,numerator:'#detail-title .numerator'
	        ,denominator:'#detail-title .denominator'
	        ,effect:'animate'
	    })
	</script>
	<div class="blank10"></div>
	<div class="bgimg clearfix">
	<div class="tjtjLS clearfix">
	<!--频道推荐：图文推荐 激活栏目-->
		<ul class="bgFF clearfix">
		 {c$tjtktj [tclass=archives/] [chsource=2/] [chids=112/] [limits=1/] [caidson=1/] [casource=2/] [orderstr=a.vieworder ASC/] [ttl=1200/]}
		 {c$tjtj [tclass=pushs/] [paid=push_136/] [val=f/] [limits=6/] [classid1=$v[caid]/]}
		<li>
			<div><a href="{url}" title="{subject}"><img {c$thumb120_90 [tclass=image/] [tname=thumb/] [val=u/] [maxwidth=120/] [maxheight=90/] [thumb=1/]} src="{url_s}" width="120" height="90" {/c$thumb120_90} alt="{subject}"></a></div>
			<i></i>
			<em><a href="{url}" title="{subject}" target="_blank">{subject}</a></em>
		 </li>
		 {/c$tjtj}
		 {/c$tjtktj}
		</ul>
	</div>
	</div>
	<div class="blank10"></div>
	<!-- 评论区块 -->
	 {tpl$tpl_plkuan}
	<!-- /评论区块 -->
</div>
<!--公用底部-->
<div class="blank10"></div>
{tpl$foot}
</body>
</html>
