<? 
$whrstr = cls_usql::where_str(array(
array('subject'), 
));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
<title>{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/] [level=2/]}{listtitle}{/c$cnode}{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/] [level=1/]}-{listtitle}{/c$cnode}-{hostname}</title>
{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/]}
<meta content="{listkeywords}" name=keywords>
<meta content="{listabstract}" name=description>
{/c$cnode}
{tpl$headinner}
<link rel="stylesheet" type="text/css" href="{$tplurl}css/tk.css?{$user_version}"/>
<base target="_blank">
</head>
<body>
<!--图库统一头部-->
{tpl$tpl_tkhead}
<div class="wrap">
    {if $caid == 600 && empty($searchword)}
    <div class="flash jqDuang" data-cell=".thumb ul" data-obj=".bigimg li" data-autoplay="0" data-showtit="1" data-prevbtn=".prev" data-nextbtn=".next">
        <div class="bigimg">
            <ul>
                {c$pushs [tclass=pushs/] [paid=push_133/] [limits=20/] [ttl=600/]}
                <li data-title="{subject}" data-url="{url}"><a href="{url}" target="_blank"><img src="{c$image [tclass=image/] [tname=thumb/] [val=u/]}{url}{/c$image}"/></a></li>
                {/c$pushs}
            </ul>
        </div>
        <div class="control jqDuang" data-effect="left" data-autoplay="0" data-steps="6" data-visible="6">
            <div class="thumb">
                <ul>
                    {c$pushs [tclass=pushs/] [paid=push_133/] [limits=20/] [ttl=600/]}
                    <li>
                        <span><img src="{c$image [tclass=image/] [tname=thumb/] [val=u/]}{url}{/c$image}"/></span>
                    </li>
                    {/c$pushs}
                </ul>
            </div>
            <i class="ico08 prev">&#xe68c;</i>
            <i class="ico08 next">&#xe68f;</i>
        </div>
    </div><!-- /flash -->
    <div class="blank20"></div>
    {/if}
    <div class="plist clearfix">
        <ul>
            {c$tklist [tclass=archives/] [chsource=2/] [limits=30/] [chids=112/] [caidson=1/] [casource=2/] [wherestr=$whrstr/] [ttl=1200/] [mp=1/]}
            <li>
                <a href="{arcurl}" title="{subject}">
                 <img {c$thumb180_140 [tclass=image/] [tname=thumb/] [val=u/] [maxwidth=200/] [maxheight=140/] [thumb=1/]} src="{url_s}" width="200" height="140" {/c$thumb180_140} alt="{subject}"></a> 
                <h3><a href="{arcurl}" target="_blank">{subject}</a></h3>
                <h4><span class="l"><i class="ico08 mr5">&#xe014;</i>{c$date [tclass=date/] [tname=createdate/] [date=Y-m-d/]}{/c$date}</span><span class="r"><i class="ico08 mr5">&#xe000;</i>{clicks}</span></h4>
            </li>
            {/c$tklist}
        </ul>
    </div>
    {if $mpacount>0}
    <div class="blank18"></div>
    {$mpnav}
    {else}
    <div class="noinfo">
        很抱歉！暂无相关{if @$searchword}
        <span>"{searchword}"</span>
        {/if}{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/] [level=1/]}{title}{/c$cnode}信息
    </div>
    {/if}
    <div class="blank18"></div>
</div>
<!--公用底部-->
<div class="blank10"></div>
{tpl$foot}
<script type="text/javascript" src="{$tplurl}js/jqduang.js"></script>
<script type="text/javascript">
var $flash = $('.flash');

$flash.on('click', '.prev, .next', function () {
        $('.control').jqDuang(Math.floor($flash.jqDuang('index') / $('.control').data('steps')));
    })
</script>
</body>
</html>
