<div class="bgFF clearfix">
    <!--推送位-帮助中心-入门流程-->
        <div class="rmlcCon">
            <em>新手入门流程</em>
            {c$xsrmdh [tclass=pushs/] [paid=push_113/] [limits=5/] [ttl=600/]} <b></b>
              <div>
                <i><a href="{url}" title="{subject}" target="_blank"><img {c$icon40_40 [tclass=image/] [tname=thumb/] [val=u/] [maxwidth=40/] [maxheight=40/] [icon=1/]} src="{url}" width="40" height="40" {/c$icon40_40} alt="{subject}"/></a></i>
                <p><a href="{url}" title="{subject}">{subject}</a></p>
              </div>{/c$xsrmdh}
        </div>
    </div>