<div class="right fr">
          <h3>公积金贷款利率(单位%)</h3>
          <dl class="cf calc_dl">
            <dt class="cf"><span class="fl">年限</span><strong class="fl">1-5年</strong><b class="fl">5-30年</b></dt>
        
            <dd class="cf"><span class="fl">2015.10.24后</span><strong class="fl">2.75</strong><b class="fl">3.25</b></dd>
            <dd class="cf"><span class="fl">2015.08.26后</span><strong class="fl">2.75</strong><b class="fl">3.25</b></dd>
            <dd class="cf"><span class="fl">2015.06.28后</span><strong class="fl">3.00</strong><b class="fl">3.50</b></dd>

            <dd class="cf"><span class="fl">2015.05.11后</span><strong class="fl">3.25</strong><b class="fl">3.75</b></dd>
            <dd class="cf"><span class="fl">2015.03.01后</span><strong class="fl">3.50</strong><b class="fl">4.00</b></dd>
            <dd class="cf"><span class="fl">2014.11.22后</span><strong class="fl">3.75</strong><b class="fl">4.25</b></dd>
            
            <dd class="cf"><span class="fl">2012.07.06后</span><strong class="fl">4.00</strong><b class="fl">4.50</b></dd>
            <dd class="cf"><span class="fl">2012.06.08后</span><strong class="fl">4.20</strong><b class="fl">4.70</b></dd>
            <dd class="cf"><span class="fl">2011.07.06后</span><strong class="fl">4.45</strong><b class="fl">4.90</b></dd>
            <dd class="cf"><span class="fl">2011.04.05后</span><strong class="fl">4.20</strong><b class="fl">4.70</b></dd>
          </dl>
          <h3>商业贷款利率(单位%)</h3>
          <dl class="cf calc_dl">
            <dt class="cf"><span class="fl">年限</span><strong class="fl">3-5年</strong><b class="fl">5-30年</b></dt>
            <dd class="cf"><span class="fl">2015.10.24后</span><strong class="fl">4.75</strong><b class="fl">4.90</b></dd>
            <dd class="cf"><span class="fl">2015.08.26后</span><strong class="fl">5.00</strong><b class="fl">5.15</b></dd>
            <dd class="cf"><span class="fl">2015.06.28后</span><strong class="fl">5.25</strong><b class="fl">5.40</b></dd>

            <dd class="cf"><span class="fl">2015.05.11后</span><strong class="fl">5.50</strong><b class="fl">5.65</b></dd>
            <dd class="cf"><span class="fl">2015.03.01后</span><strong class="fl">5.75</strong><b class="fl">5.90</b></dd>
            <dd class="cf"><span class="fl">2014.11.22后</span><strong class="fl">6.00</strong><b class="fl">6.15</b></dd>


            <dd class="cf"><span class="fl">2012.07.06后</span><strong class="fl">6.40</strong><b class="fl">6.55</b></dd>
            <dd class="cf"><span class="fl">2012.06.08后</span><strong class="fl">6.65</strong><b class="fl">6.80</b></dd>
            <dd class="cf"><span class="fl">2011.07.06后</span><strong class="fl">6.90</strong><b class="fl">7.05</b></dd>
            <dd class="cf"><span class="fl">2011.04.05后</span><strong class="fl">6.65</strong><b class="fl">6.80</b></dd>
            <dd class="cf"><span class="fl">2011.02.09后</span><strong class="fl">6.45</strong><b class="fl">6.60</b></dd>
            <dd class="cf"><span class="fl">2010.12.26后</span><strong class="fl">6.22</strong><b class="fl">6.40</b></dd>
            <dd class="cf"><span class="fl">2010.10.20后</span><strong class="fl">5.95</strong><b class="fl">6.14</b></dd>
            <dd class="cf"><span class="fl">2008.12.23后</span><strong class="fl">5.76</strong><b class="fl">5.94</b></dd>
            <dd class="cf"><span class="fl">2008.11.27后</span><strong class="fl">5.94</strong><b class="fl">6.12</b></dd>
            <dd class="cf"><span class="fl">2008.10.30后</span><strong class="fl">7.02</strong><b class="fl">7.20</b></dd>
            <dd class="cf"><span class="fl">2008.10.09后</span><strong class="fl">7.29</strong><b class="fl">7.47</b>
            </dd>
          </dl>
        </div>