		<div id="area2_2">
			<!--内容页280(4)--><div id="_08_adv_fcatalog23"></div>
			<!-- hot news begin -->
			<div class="borgray clearfix">
				<div class="area2_3"> 热门招聘排行 </div>
				<div class="area2_4">
					<ul class="phicon">
						{c$jhwdlb [cname=激活文档列表/] [tclass=archives/] [chsource=2/] [chids=108/] [orderstr=a.wclicks DESC/] [ttl=600/] [caidson=1/] [casource=2/]}
						<li><a href="{arcurl}" target="_blank">{c$subject40 [cname=subject40/] [tclass=text/] [tname=subject/] [trim=40/]}{/c$subject40}</a></li>
						{/c$jhwdlb}
					</ul>
				</div>
			</div>
		</div>