<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={mcharset}" />
{c$cnode [tclass=cnode/] [listby=ca/] [casource=active/]}
<title>{listtitle}-{$hostname}</title>
<meta name="keywords" Content="{listkeywords}"/>
<meta name="description" content="{listabstract}"/>
{/c$cnode}
{tpl$headinner}
<link rel="stylesheet" type="text/css" href="{$tplurl}css/newslist.css?{$user_version}"/>
</head>
<body>

<?php $hd_caid = empty($hd_caid) ? $caid : $hd_caid; ?>
{c$cata [cname=获取分类id/] [tclass=cnode/] [listby=ca/] [casource=active/] [level=2/]} <?php $hd_caid=$v['caid']?>{/c$cata}
<!-- header begin -->
{tpl$webdaohang}
<!-- end begin -->
<div class="wrap clearfix">
	<!--当前位置+搜索-->
	{tpl$tpl_pososo_zp}
	<!-- body -->
	<div id="area2_body" style="overflow:hidden;">
		<!-- begin 1 -->
		<div class="w710 l borh">
			<div id="xqy" style="position:relative;">
            <!-- 栏目名称 -->
            {c$yjlmtit [tclass=cnode/] [listby=ca/] [casource=active/] }{title}{/c$yjlmtit}
            <!-- 子栏目列表 -->
              {c$jhxyjb [tclass=catalogs/] [listby=ca/] [casource=3/] [limits=30/] [orderstr=vieworder ASC/] [wherestr=pid='$hd_caid'/] [ttl=900/]}
            	<div onmouseout="$('#fl').css('display','none')" onmouseover="$('#fl').css('display','block')" class="feilei">
        		<div class="feilei1">{c$jhsjlm [tclass=cnode/] [listby=ca/] [val=f/] [casource=$hd_caid/]}<a href="{indexurl}">分类</a>{/c$jhsjlm}</div>
        			<ul style="display: none;" class="otherfelei" id="fl">
        				[row]<li><a href="{indexurl}">{title}</a></li>[/row]
        			</ul>
        		</div>
             {/c$jhxyjb}
            </div>
			<div id="xqy_con">
				<ul id="newsList">
					{c$jhzxlb [tclass=archives/] [chids=108/] [chsource=2/] [limits=30/] [validperiod=1/] [isfunc=1/] [wherestr=cls_usql::where_str(array(array('subject')))/] [ttl=600/] [mp=1/] [length=6/]}
                    <li>
                        {c$jhdqlm [tclass=cnode/] [listby=ca/] [val=f/] [casource=active/]}
                        {/c$jhdqlm} <a href='{arcurl}' target="_blank">{c$text [tclass=text/] [tname=subject/] [color=color/]}{/c$text}</a>
                        <span class="date">({c$createdate_ymd [cname=createdate_ymd/] [tclass=date/] [tname=createdate/] [date=Y-m-d/]}{/c$createdate_ymd})</span>
                    </li>
                    {if $v['sn_row']%5 == 0 && $v['sn_row'] != 20}<li class="line"></li>{elseif $v['sn_row']%20 == 0}<li class="linegray"></li>{/if}
                    {/c$jhzxlb}
				</ul>
			</div>
            {if $mpacount>0}
			<div class='ptb10'>
			{$mpnav}
			</div>
            {else}
             <div class="noinfo">很抱歉！暂无{if @$searchword}<span>"{searchword}"</span>{/if}的相关信息</div>
            {/if}
		</div>
        <!--招聘公用右侧栏-->
		{tpl$tpl_zprsider}
	</div>
</div>
{tpl$foot}
</body>
</html>