/**
 * @name World
 * @author ahuing
 * @link 08cms.com
 * @date 2015-11-12 09:06:25
 */
@charset 'UTF-8';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
    font-weight: normal;
}

.entry a {
    margin: 0 5px;
}

/*** width  height
--------------------- ****/
.w140 {
    width: 140px;
}

.w160 {
    width: 160px;
}

.w240 {
    width: 240px;
}

.w280 {
    width: 280px;
}

.w300 {
    width: 300px;
}

.w310 {
    width: 310px;
}

.w390 {
    width: 387px;
}

.w370 {
    width: 370px;
}

.w490 {
    width: 490px;
}

.w620 {
    width: 620px;
}

.w560 {
    width: 560px;
}

.w690 {
    width: 690px;
}

.w820 {
    width: 820px;
}

.w890 {
    width: 890px;
}

.w710 {
    width: 710px;
}

/***margin padding  
--------------------- ****/
.mt1 {
    margin-top: 1px;
}

.mb3 {
    margin-bottom: 3px;
}

.ptb8 {
    padding: 8px 0;
}

/*** border  background 
--------------------- ****/
.bor-gray {
    border: 1px solid #e6e6e6;
}

.bor-gray-t {
    border-top: 1px solid #e6e6e6;
}

.bor-gray-rbl {
    border: 1px solid #e6e6e6;
    border-top: none;
}

.bor-blue {
    border: 1px solid #e6f2fe;
}

.sea-con .select b,
.sea-con .txt,
.sea-con .btn,
.asidebg,
.asidebg2,
.asidebg3,
.priTxt,
.overbar h3,
.overbar i,
.tlist3 li,
.coltil h3,
.coltil2 h3,
.coltil i,
.fbcsbnt,
.fbqgbnt,
.content1 .icon,
.coltit1 .tit1 .icon,
.tlist4,
.coltit1 .tit2,
.content2 .tit2,
.plist6 img,
.plist2 .info1,
.plist2 .info2,
.plist4 p.sf,
.plist4 p.zf {
    background: url(../images/bgv4-index.gif) no-repeat 0 0;
}

.coltit1,
.glTil,
.coltil,
.coltil2 {
    background: url(../images/index_bar.jpg) repeat-x 0 0;
}

.dutgtj .pri-txt {
    padding: 3px 0;

    background: none;
}

.dutgtj .pri-txt span {
    font-size: 18px;
    font-weight: 800;

    color: #b00;
}

/***font Fsize   Fweight Fcolor   
--------------------- ****/
.FcR,
.FcR a {
    color: #bd2925;
}

.FcG,
.FcG a {
    color: #4b4b4b;
}

.FcG a:hover {
    color: #be2827;
}

.bgF5F {
    background: #fafafa;
}

/*** tabbar  
--------------------- ****/
.tabbar2 span {
    line-height: 29px;

    float: left;

    height: 29px;
    padding: 0 10px;

    cursor: pointer;

    color: #666;
    border-radius: 2px 2px 0 0;
}

.tabbar2 .act {
    font-weight: bold;

    border: 1px solid #d5d5d5;
    border-bottom: none;
    background: #fff;
}

/*** search  
--------------------- ****/
.search2 {
    clear: both;

    padding: 10px 0 0;
}

.search2 a {
    font: bold 12px/28px Microsoft yahei,Arial,sans-serif;
    font-family: Arial, sans-serif;

    float: left;
    overflow: hidden;

    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;

    text-align: center;

    border: 1px solid #e6e6e6;
    border-radius: 2px;
    background: #fff;
}

.search2 a:hover {
    text-decoration: none;

    border-color: #ddd;
    background: #eee;
}

.search2 .search-group {
    width: 260px;
}

/*** tlist  plist
--------------------- ****/
.tlist1 li {
    line-height: 22px;

    overflow: hidden;

    height: 22px;
}

.tlist2 li {
    line-height: 22px;

    float: left;
    overflow: hidden;

    width: 100px;
    height: 22px;
    margin-right: 3px;
}

.tlist3 li {
    font-size: 14px;
    line-height: 28px;

    overflow: hidden;

    height: 28px;
    padding-left: 10px;

    background-position: -293px -357px;
}

.tlist3 li em {
    float: right;

    padding-left: 5px;

    color: #949293;
}

.tlist4 {
    background-position: -281px -51px;

    *zoom: 1;
}

.tlist4 li {
    line-height: 26px;

    overflow: hidden;

    height: 26px;
    padding-left: 22px;
}

.tlist5 li {
    float: left;

    padding: 0 10px;

    white-space: nowrap;
}

.tlist6 li {
    line-height: 25px;

    overflow: hidden;

    height: 25px;
}

.tlist6 li i a,
.tlist6 li i {
    color: #666;
}

.plist2 li {
    display: inline;
    float: left;

    width: 176px;
    margin: 12px 0 0 16px;
    padding: 1px 1px 8px;

    border: 1px solid #e6e6e6;
}

.plist2 p,
.plist2 em {
    line-height: 21px;

    display: block;
    overflow: hidden;

    height: 21px;
    padding: 0 3px;
}

.plist2 em {
    padding-top: 4px;

    cursor: pointer;
    text-align: center;
}

.plist2 .pri {
    font-family: Arial, sans-serif;

    color: #be2829;
}

.plist2 li:hover {
    border-color: #be2827;
}

.plist2 .icon {
    font-family: simsun;
    font-size: 12px;
    line-height: 18px;

    float: right;

    width: 34px;
    height: 18px;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background: #e43;
}

.plist2 .icon:hover {
    color: #fff;
}

.bgFDF {
    background: #fdfeff;
}

.plist3 li {
    margin-bottom: 6px;
}

.plist3 h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;

    overflow: hidden;

    height: 28px;
}

.plist3 img {
    float: left;

    margin-right: 8px;
    padding: 1px;

    border: 1px solid #e6e6e6;
}

.plist3 img:hover {
    border-color: #bd2929;
}

.plist3 p {
    line-height: 21px;

    overflow: hidden;

    height: 84px;

    text-indent: 2em;

    color: #666;
}

.plist4 {
    overflow: hidden;
}

.plist4 ul {
    width: 9999px;
}

.plist4 li {
    line-height: 20px;

    display: inline;
    float: left;

    width: 200px;
    margin: 0 8px;
    padding: 5px;

    cursor: default;

    border: 1px solid #e6e6e6;
}

.plist4 li:hover {
    border-color: #bd2929;
}

.plist4 .img {
    float: left;

    margin-right: 8px;
}

.plist4 h4 {
    overflow: hidden;

    height: 20px;
}

.plist4 p {
    overflow: hidden;

    height: 20px;

    word-wrap: break-word;
}

.plist4 p.sf {
    padding-left: 20px;

    background-position: -152px -339px;
}

.plist4 p.zf {
    padding-left: 20px;

    background-position: -152px -363px;
}

.plist4 em {
    line-height: 21px;

    display: block;
    overflow: hidden;

    height: 21px;
    padding-top: 3px;

    text-align: center;
}

.plist5 li {
    display: inline;
    float: left;

    width: 217px;
    margin: 10px 0 0 8px;
    padding: 5px;

    border: 1px solid #e8e8e8;
}

.plist5 li:hover {
    border-color: #bd2929;
}

.plist5 em {
    line-height: 22px;

    display: block;
    overflow: hidden;

    height: 22px;

    cursor: pointer;
    text-align: center;
}

.plist6 li {
    float: left;

    width: 167px;
    margin: 10px 0 0 8px;
}

.plist6 img {
    padding: 1px 5px 5px 1px;

    background-position: -108px -138px;
}

.plist6 em {
    line-height: 20px;

    display: block;
    overflow: hidden;

    height: 20px;

    text-align: center;
}

.plist6 .tit1 {
    font-weight: bold;
}

.plist7 li {
    display: inline;
    float: left;

    width: 150px;
    height: 132px;
    margin: 10px 0 0 16px;

    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.plist7 dt {
    font-weight: bold;

    margin: 5px 10px;

    text-align: center;

    border-bottom: 1px solid #ddd;
}

.plist7 dd {
    line-height: 22px;

    overflow: hidden;

    height: 22px;
    margin: 0 12px;
}

.plist8 li {
    display: inline;
    float: left;

    margin: 12px 0 0 15px;
}

.plist8 li img {
    border: 1px solid #ccc;
}

.plist8 li a:hover img {
    border: 1px solid #bd2929;
}

/*** flash  
--------------------- ****/
.flash {
    position: relative;
    z-index: 10;
}

.flash .big {
    overflow: hidden;

    width: 370px;
    margin-bottom: 3px;
}

.flash .big ul {
    width: 99999px;
}

.flash .big li {
    float: left;

    width: 370px;
}

.flash .tit-duang {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;

    position: absolute;
    z-index: 10;
    bottom: 58px;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 40px;

    text-indent: 8px;

    color: #fff;
    background: rgba(0, 0, 0, .5);

    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#77000000 ', endColorstr='#77000000 ');
}

.flash .sml {
    position: relative;

    margin-right: -50px;
}

.flash .sml li {
    position: relative;

    display: inline;
    float: left;

    margin-right: 13px;

    border: 1px solid #c9cdcc;

    *zoom: 1;
}

.flash .sml li img {
    opacity: .7;

    filter: alpha(opacity=70);
}

.flash .sml .act {
    border-color: #bb2a27;
}

.flash .sml .act img {
    opacity: 1;

    filter: alpha(opacity=100);
}

.flash .sml .act b {
    position: absolute;
    top: -10px;
    left: 50%;

    overflow: hidden;

    width: 0;
    height: 0;
    margin-left: -5px;

    border-width: 5px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bb2a27 transparent;
}

/*** tuangou
--------------------- ****/
.tgTil {
    line-height: 34px;

    height: 34px;

    background: #c00;
}

.tgTil em {
    display: block;

    padding: 0 10px;
}

.tgTil h3 {
    font-size: 14px;
    font-weight: bold;
}

.tgTil a,
.tgTil a:hover {
    color: #fff;
}

.tgcon i {
    display: block;
    float: left;

    margin-right: 10px;
    padding: 2px;

    border: 1px solid #e6e6e6;
}

.tgcon b,
.tgcon em {
    display: block;
    overflow: hidden;
}

.tgcon b {
    line-height: 26px;

    height: 26px;
}

.tgcon em {
    line-height: 21px;

    height: 21px;

    vertical-align: middle;

    color: #666;
}

.tgcon .bmbnt {
    text-align: right;
}

.tgcon .bmbnt a {
    display: inline-block;

    width: 58px;

    text-align: center;
    vertical-align: top;

    color: #fff;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background: #c00;
}

.tgcon .bmbnt a:hover {
    text-decoration: none;

    opacity: .9;
    color: #fff;

    filter: alpha(opacity=90);
}

.bred_LRB2 {
    border: 2px solid #c00;
    border-top: none;
}

/*** jishi
--------------------- ****/
.coltit1 {
    line-height: 31px;

    position: relative;
    z-index: 100;

    height: 31px;
    padding: 0 10px 7px 0;

    background-position: 0 -116px;
}

.coltit1 .tit2 {
    line-height: 1000px;

    position: absolute;
    top: -4px;
    left: -5px;

    overflow: hidden;

    width: 73px;
    height: 72px;

    background-position: 0 -162px;
}

.coltit1 .tit2 a {
    display: block;

    height: 100%;
}

.coltit1 h3 {
    font-size: 14px;
    font-weight: bold;
}

.coltit1 a,
.coltit1 h3 {
    color: #333;
}

/*** tybar
--------------------- ****/
.tybar,
.tybar .newtit,
.tybar .estit,
.tybar .jztit {
    line-height: 35px;

    overflow: hidden;

    height: 35px;

    background: url(../images/dq_titbg.png) no-repeat;
}

.tybar {
    background-repeat: repeat-x;
    background-position: 0 -105px;
}

.tybar h3 {
    padding-left: 25px;
}

.tybar h3 a {
    float: left;
    overflow: hidden;

    width: 55px;

    text-indent: -999px;
}

.tybar .newtit {
    background-position: 0 0;
}

.tybar .estit {
    background-position: 0 -35px;
}

.tybar .jztit {
    background-position: 0 -70px;
}

/*** glTil
--------------------- ****/
.glTil {
    line-height: 32px;

    height: 32px;

    background-position: 0 -40px;
}

.glTil em {
    font: bold 14px/31px simsun;

    position: absolute;
    top: -1px;
    left: 10px;

    height: 31px;
    padding: 0 10px;

    color: #444;
    border-top: 2px solid #e43;
    border-right: 1px solid #b7d0e4;
    border-left: 1px solid #b7d0e4;
    background: #fff;
}

.lpkfCon li {
    line-height: 24px;

    float: left;
    overflow: hidden;

    width: 670px;
    height: 24px;
    margin-top: 8px;
}

.lpkfCon li.w378 {
    width: 498px;
}

.lpkfCon p,
.esoCon p {
    overflow: hidden;

    height: 24px;
    margin-left: 40px;
}

.lpkfCon p a,
.esoCon p a {
    display: inline-block;

    padding: 0 5px;

    border-radius: 2px;
}

.lpkfCon p a:hover,
.esoCon p a:hover {
    text-decoration: none;

    color: #fafafa;
    background: #e43;
}

.lpkfCon .tit,
.esoCon .tit {
    position: absolute;

    padding: 0 5px;

    text-align: center;

    color: #fafafa;
    border-radius: 2px;
    background: #e43;
}

.esoCon {
    width: 50%;
}

.esoCon .tit {
    font-weight: bold;
    line-height: 20px;

    width: 22px;
    padding: 6px 2px;
}

.esoCon .tit:hover {
    text-decoration: none;
}

.esoCon .tit2 {
    padding: 16px 2px;
}

.esoCon p {
    margin-left: 30px;
}

.coltil,
.coltil2 {
    line-height: 30px;

    height: 30px;
}

.coltil h3 a,
.coltil2 h3 a {
    font-size: 14px;
    font-weight: bold;
}

.coltil a,
.coltil2 a {
    color: #333;
}

.coltil {
    background-position: 0 -157px;
}

.coltil h3 {
    padding-left: 12px;

    background-position: -296px -282px;
}

.coltil i {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 1px;
    height: 30px;

    background-position: -298px -453px;
}

.coltil i.rline {
    display: none;
}

.coltil2 {
    background-position: 0 -80px;
}

.coltil2 h3 {
    padding-left: 12px;

    background-position: -294px -307px;
}

.coltil a.fbcsbnt,
.coltil a.fbqgbnt {
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;

    float: left;
    overflow: hidden;

    width: 68px;
    height: 24px;
    margin: 0 8px 0 0;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.coltil a.fbcsbnt {
    background: #449b1c;
}

.coltil a.fbqgbnt {
    background: #e57c05;
}

.coltil a.fbqgbnt:hover,
.coltil a.fbcsbnt:hover {
    text-decoration: none;

    opacity: .9;
}

.xfwdCon li {
    padding: 8px 0;

    border-top: 1px dotted #cdcdcd;
}

.xfwdCon li.first {
    border-bottom: none;
}

.xfwdCon li em {
    line-height: 22px;

    display: block;
    overflow: hidden;

    height: 22px;
}

.xfwdCon li p {
    color: #666;
}

.xfwdCon li p a {
    color: #c00;
}

/*** asideTil
--------------------- ****/
.content1 {
    position: relative;

    padding: 10px 10px 0;

    *zoom: 1;
}

.content1 h2 {
    line-height: 32px;

    overflow: hidden;

    height: 32px;

    text-align: center;
}

.content1 h3 {
    font-size: 14px;
    line-height: 28px;

    overflow: hidden;

    height: 28px;

    text-align: center;
}

.content1 h2 a {
    font-size: 19px;
    font-weight: bold;

    color: #ba2b27;
}

.content1 h3 a {
    margin: 0 2px;
}

.content2 {
    position: relative;
}

.content2 .tit2 {
    line-height: 1000px;

    position: absolute;
    top: -4px;
    left: -5px;

    overflow: hidden;

    width: 73px;
    height: 72px;

    background-position: 0 -162px;
}

.content2 .tit2 a {
    display: block;

    height: 100%;
}

.content3 {
    position: relative;

    *zoom: 1;
}

.content3 .plist4 {
    width: 888px;
    margin: 0 auto;
}

.content3 .prev,
.content3 .next {
    font-family: Microsoft yahei;
    font-size: 32px;
    font-weight: bold;
    line-height: 110px;

    position: absolute;
    z-index: 10;
    top: 50%;
    left: 6px;

    overflow: hidden;

    width: 34px;
    height: 112px;
    margin-top: -56px;

    text-indent: -8px;

    color: #ccc;
}

.content3 .next {
    right: 6px;
    left: auto;

    text-indent: 8px;
}

.content3 .prev:hover,
.content3 .next:hover {
    text-decoration: none;

    color: #c00;
}

.content4 .tool {
    padding-top: 10px;

    border-top: 1px solid #e6e6e6;
}

.content4 .plist7 {
    padding-bottom: 10px;
}

.content5 .plist8 {
    overflow: hidden;
}

/*** table  
--------------------- ****/
.table1 {
    overflow: hidden;

    padding-top: 2px;

    *zoom: 1;
}

.table1 dt {
    vertical-align: top;

    *zoom: 1;
}

.table1 dd {
    clear: both;

    height: 32px;

    vertical-align: top;

    border-top: 1px solid #e6e6e6;
}

.table1 dd a {
    float: left;

    cursor: pointer;
}

.table1 dd a:hover {
    text-decoration: none;

    background: #eee;
}

.table1 i {
    line-height: 32px;

    float: left;
    overflow: hidden;

    width: 70px;
    height: 32px;

    text-align: center;

    color: #666;
}

.table1 em {
    color: #bd282a;
}

.table1 .td1 {
    width: 260px;

    text-align: left;
    text-indent: 5px;
}

.l-form .txt {
    background: url(../images/bgv4-index.gif) no-repeat;
}

/*** nav 
--------------------- ***/
.mainnav {
    font-size: 14px;
    line-height: 44px;

    overflow: hidden;

    height: 44px;

    border-radius: 3px;
    background: #e43;
    box-shadow: 0 2px 3px #bbb;
}
.mainnav li {
    float: left;
}
.mainnav li:before {
    float: left;
    overflow: hidden;

    width: 0;
    height: 20px;
    margin-top: 12px;

    content: ' ';

    border-left: 1px solid #aaa;
}
.mainnav li:first-child:before {
    display: none;
}
.mainnav a {
    float: left;

    padding: 0 25px;

    color: #fff;
}
.mainnav a:hover {
    text-decoration: none;

    color: #fff;
    background: #b00;
}
.mainnav .fcy a,
.mainnav .fcy a:hover {
    color: yellow;
}
.mainnav .nobg {
    background: none;
}

/*** jianshou  
--------------------- ***/
.lp-janshuo {
    position: relative;
    z-index: 10;

    display: table;
    float: right;

    width: 640px;

    border: 3px solid #e43;
}

/*** sea1 ***/
.lp-sea {
    vertical-align: top;

    *zoom: 1;
}

.lp-sea form {
    *zoom: 1;
}

.lp-sea .l-form {
    float: left;

    height: 27px;
    padding-top: 3px;

    text-align: left;
}

.lp-sea .select {
    position: relative;
    z-index: 50;

    float: left;

    width: 78px;

    border-right: 1px solid #d3d3d3;
}

.lp-sea .select .txt1 {
    font-size: 12px;
    line-height: 24px;

    display: block;
    overflow: hidden;

    height: 24px;
    padding: 0 5px;

    cursor: default;

    color: #999;
}

.lp-sea .select .droplist {
    font-size: 0;

    position: absolute;
    top: 24px;
    left: -1px;

    display: none;

    width: 78px;

    border: 1px solid #eee;
    background: #fff;
}

.lp-sea .select .droplist em {
    font-size: 12px;
    font-style: normal;
    line-height: 20px;

    position: relative;

    display: block;
    overflow: hidden;

    height: 20px;
    padding: 0 0 0 5px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    color: #444;
}

.lp-sea .select .droplist em:hover,
.lp-sea .select .droplist .act {
    text-decoration: none;

    color: #fff;
    background: #e43;
}

.lp-sea .select .l-more {
    width: 234px;
    padding: 5px 0;
}

.lp-sea .select .l-more em {
    float: left;

    width: 73px;
}

.lp-sea .w1,
.lp-sea .w1 .droplist {
    width: 100px;
}

.lp-sea .select b {
    position: absolute;
    top: 50%;
    right: 8px;

    overflow: hidden;

    width: 9px;
    height: 5px;
    margin-top: -2px;

    background: url(../images/nhbg.png) no-repeat -214px -51px;
}

.lp-sea .hover .droplist {
    display: block;
}

.lp-sea .hover b {
    background-position: -214px -62px;
}

.lp-sea .zxlp {
    font-size: 14px;
    line-height: 24px;

    height: 24px;
    padding: 0 5px;

    text-align: left;

    border: none;
}

.lp-sea .btn {
    line-height: 24px;

    float: right;

    width: 77px;
    height: 30px;

    cursor: pointer;

    border: 0 none;
    background: #e43;
}

/***蹇呴』鏈塨lock***/
.l-form .txt {
    display: block;
    float: left;

    text-indent: 20px;

    color: #ccc;
    background-position: -280px -28px;
}

.l-form .txt:focus {
    border-color: #0e7dda;
}

.l-form .txtfocus {
    text-indent: 0;

    color: #444;
    background: none;
}

/*** 鍒囨崲鍦板尯
--------------------- ***/
.tabox {
    width: 650px;
}

.fzstab {
    line-height: 23px;

    float: right;
    overflow: hidden;

    width: 640px;
    height: 23px;
}

.fzstab li {
    line-height: 25px;

    float: left;

    width: 68px;
    height: 23px;

    cursor: pointer;
    text-align: center;

    color: #686868;
    border-radius: 2px 2px 0 0;
}

.fzstab li.act {
    font-weight: 800;

    color: #fff;
    background: #e43;
}

.qhdqbg {
    position: relative;
    z-index: 800;

    display: inline;

    margin: 25px 0 0 18px;
    padding: 5px;

    color: #666;
}
.qhdqbg .droplist-area {
    line-height: 24px;

    position: absolute;
    top: 30px;

    display: none;

    padding: 10px;

    border: 1px solid #ddd;
    background-color: #fff;
}
.qhdqbg .droplist-area li {
    width: 100px;
}
.qhdqbg .droplist-area-row {
    width: 300px;
}
.qhdqbg .droplist-area-row li {
    float: left;
}
.qhdqbg b {
    font-family: 'Microsoft YaHei';
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;

    display: block;
    /* width:140px; */
    overflow: hidden;

    height: 20px;

    cursor: pointer;

    color: #000;
}
.qhdqbg .items {
    line-height: 24px;

    position: absolute;
    top: 25px;
    left: -1px;

    display: none;

    width: 310px;
    padding: 5px;

    border: 1px solid #e6e6e6;
    background: #fff;
}
.qhdqbg .act .items {
    display: block;
}
.qhdqbg .act .items a {
    float: left;

    margin: 0 5px;
}
.qhdqbg .fcr {
    font-size: 14px;
}

.qhdqbg-hover .droplist-area {
    display: block;
}

.fonred {
    padding-right: 10px;

    color: #d21f1f;
}

/*# sourceMappingURL=dq_index.css.map */
