.w250 {
    width: 250px;
}
.w740 {
    width: 740px;
}
.w940 {
    width: 940px;
}
/*** search
--------------------- ***/
.sea-form .txt {
    line-height: 32px;

    float: left; width: 418px; height: 32px; padding-left: 22px; border: 2px solid #ff9300; border-right: none; background: url(../images/fdj.png) no-repeat 5px #fff; box-shadow: 2px 2px 3px #f1f1f1 inset;
}
.sea-form .txtfocus {
    text-indent: 0;

    background: #fff;
}
.sea-form .btn {
    font-family: Microsoft yahei; font-size: 16px;

    float: left; width: 100px; height: 32px; cursor: pointer;color: #fff;border: none; background-color: #ff9300;
}
.sea-form .cz-btn {
    font-family: Microsoft yahei;font-size: 16px;

    float: left; width: 100px; height: 32px;cursor: pointer;color: #fff; border: none; background-color: #ff9300;
}
/*** nav
--------------------- ***/
.realestate_nav {
    font-family: 'MicroSoft YaHei';font-size: 16px; line-height: 50px;

    height: 50px; background: url(../images/sjdcnv.gif) repeat-x 0 -54px;
}
.realestate_nav a {
    float: left;

    padding: 0 25px; color: #fff;
}
.realestate_nav a:hover {
    text-decoration: none; color: #fff;
    background: #047fe4;
}
.realestate_nav a.act,
.realestate_nav a.act:hover {
    background: url(../images/sjdcnv.gif) repeat-x;
}
/*** esindex-jansuo
--------------------- ***/
.search .sea-form {
    height: 57px; padding: 0 14px;background: url(../images/bkbg.gif) repeat-x 0 -20px;
}
.search .jsbg {
    background: url(../images/eslin.png) repeat-y 6px 0;
}
.search .sea-items {
    line-height: 22px;

    float: left; width: 184px;
}
.sea-items dt {
    font-weight: bold; padding: 3px 10px;color: #b4b3b3;
}
.sea-items dd {
    line-height: 20px;

    padding: 0 5px;
}
.sea-items dd a {
    display: inline-block;

    margin: 0 5px;
}
.search .title1 {
    font-size: 14px;font-weight: bold;line-height: 32px; overflow: hidden;height: 32px; padding-left: 10px;
}

/*** coltit content
--------------------- ***/
.coltit1 {
    line-height: 30px; height: 30px;padding-right: 8px;
}
.coltit1 h3 {
    font-size: 16px;
    font-weight: bold; float: left;color: #e43;border-bottom: 2px solid #e43;
}
.coltit2 {
    line-height: 32px; height: 32px; background: url(../images/bkbg.gif) repeat-x 0 -194px;
}
.coltit3 {
    line-height: 30px;

    height: 30px;
}
.czzx {
    border-bottom: 1px solid #e6e6e6;
}
.coltit3 h3 {
    font-size: 14px;
    font-weight: bold; float: left;border-bottom: 2px solid #327acf;
}
.tab1 a {
    font-size: 14px; line-height: 31px;

    float: left; padding: 0 20px; text-decoration: none;border-bottom: 1px solid #e6e6e6;
}
.tab1 .act {
    font-weight: bold; color: #327acf;
    border-bottom: 2px solid #387de7;
}
/*** eslist-jiansuo
--------------------- ***/
.fysearch {
    padding-top: 12px;

    border: 1px solid #ddd;
}
.fyjiansuo li,
.fysearch p {
    padding: 0 12px;
}
.fyjiansuo li {
    line-height: 24px; overflow: hidden; vertical-align: top; *zoom: 1;
}
.fyjiansuo b,
.fyjiansuo a {
    font-size: 14px;

    display: inline-block;  margin-bottom: 12px; white-space: nowrap;
}
.fyjiansuo b {
    color: #777;
}
.fyjiansuo li input {
    line-height: 20px;

    float: left; width: 40px; height: 20px; margin: 0 3px;border: 1px solid #ccc;
}
.fyjiansuo li input.qbnt {
    height: 22px;padding: 0 0 2px; cursor: pointer; border: 1px solid #ccc; background: #fff;
}
.fyjiansuo a {
    margin-left: 2px;
    padding: 0 4px; border-radius: 2px;
}
.fyjiansuo a.act,
.fyjiansuo a:hover {
    text-decoration: none; color: #fff;
    background: #e43;
}
.fyjiansuo .set {
    position: absolute;z-index: 10;margin-top: -8px;padding: 8px 6px;
}
.fyjiansuo .set .txt1 {
    line-height: 22px; display: inline-block; float: none; height: 22px;

    border: 1px solid #ddd; border-radius: 2px;
}
.fyjiansuo .set .btn1 {
    font-size: 12px; display: inline-block;float: none; width: 42px;height: 24px; margin: 0 5px;padding: 2px 0; cursor: pointer; vertical-align: top;color: #fff;
    border: none; border-radius: 2px;background: #e43;
}

.fysearch .morefjj {
    font-family: arial;padding-bottom: 5px;

    border-top: 1px solid #ddd;
}
.morefjj li {
    line-height: 22px; position: relative;display: inline;float: left;

    width: 82px; height: 22px; margin: 5px 0 0 10px; cursor: pointer; border: 1px solid #ddd; background-color: #fff;
}
.morefjj .hover {
    z-index: 100;

    border: 1px solid #bbd5f0;*zoom: 1;
}
.morefjj .hover .items {
    display: block;
}
.morefjj li em {
    line-height: 22px; display: block; overflow: hidden;

    width: 58px; height: 22px; padding-left: 5px;
}
.morefjj li .ico08 {
    position: absolute;top: 0;right: 5px;color: #999;
}
.morefjj .items {
    position: absolute;top: 22px; left: -1px; display: none;width: 82px; border: 1px solid #bbd5f0; background: #fff;
}
.morefjj .items a {
    line-height: 25px; display: block; overflow: hidden;

    height: 25px; padding-left: 5px;
}
.morefjj .items a:hover,
.morefjj .items .hover {
    text-decoration: none;color: #fff;border: none;
    background: #0076d5;
}
.morefjj .tip {
    overflow: hidden;text-indent: 5px; border: 1px solid #fafafa;
    background: none;
}
.morefjj .bx {
    z-index: 1;margin: 0;background: #fff;
}

.fysearch .dqzftj {
    padding-top: 5px; border-top: 1px solid #ddd;
}
.dqzftj a {
    line-height: 20px;

    float: left; height: 20px; margin: 0 0 5px 8px; padding: 0 5px; cursor: pointer;border: 1px solid #ddd;
}
.dqzftj a .ico08 {
    vertical-align: bottom;

    color: #0076d5;
}
.dqzftj a:hover {
    text-decoration: none;
}
.dqzftj a.qk {
    color: #0053df;
}

.fsTil {
    position: relative;height: 24px;padding: 10px 0;

    border-bottom: 2px solid #999;
}
.fsTil strong {
    font-size: 22px; font-weight: normal;

    position: absolute; bottom: -2px; left: 0; padding: 3px 10px 3px 0; border-bottom: 2px solid #e43;
}
/*** 商业地产列表
--------------------- ***/
.sxpage {
    line-height: 22px;

    float: right;
}
.sxpage span,
.sxpage a {
    float: left;
}
.sxpage a {
    margin: 0 5px; padding: 0 10px;color: #e43;
    border: 1px solid #ccd7e7; border-radius: 3px;
}
.sxpage a:hover {
    text-decoration: none; color: #ff9300; border: 1px solid #ff9300;
}
.sxpage span {
    color: #666;
}

.bar-sort {
    padding: 10px;

    border: 1px solid #e6e6e6; border-top: none;
}
.bar-sort .btn-sort {
    line-height: 1.5;float: left;margin-left: 10px;padding: 3px 8px;

    color: #888;border: 1px solid #ddd;
}
.bar-sort .btn-sort:hover {
    text-decoration: none;
}
.bar-sort .btn-sort .ico08 {
    position: relative;top: 4px;*zoom: 1;
}
.bar-sort .btn-sort .u {
    top: -4px;right: -8px;
}
.bar-sort .act {
    color: #e43;border-color: #e43;
}
.bar-sort .bldown .u {
    color: #888;
}
.bar-sort .blup .d {
    color: #888;
}


.sydclist {
    padding: 15px 5px;border-color: #e1e1e1 #fff;
    border-bottom: 1px solid #e1e1e1;*zoom: 1;
}
.sydclist span {
    color: #777;
}
.sydclist:hover {
    background: #fafafa;
}
.sydclist .pic {
    position: relative;

    float: left;margin-right: 15px;
}
.sydclist .pic img {
    background: #eee url(../images/loading1.gif) no-repeat center;
}
.sydclist .info {
    float: left;

    width: 450px;
}
.sydclist .info b {
    font-weight: normal; line-height: 16px;

    display: inline-block; height: 16px; margin-left: 2px                                                                             ;padding: 0 3px; padding: 0 5px; color: #fff; background: #f60;
}
.sydclist .info em.fs {
    line-height: 28px;

    height: 28px;
}
.sydclist .info em {
    line-height: 24px; display: block;overflow: hidden;

    height: 24px;
}
.sydclist .info3 {
    float: right;

    width: 160px;
}
.sydclist .info3 em {
    line-height: 24px;

    display: block; overflow: hidden; height: 24px;
}
.sydclist .info3 i {
    font-family: Georgia,'Times New Roman';font-size: 16px;

    margin-right: 5px;
}
.sydclist .info3 i.zj {
    font-size: 24px;color: #f60;
}
.sydclist:hover .info3 i {
    color: #f60;
}
.sydclist .info3 i.ico08 {
    font-family: 'icomoon';font-size: 14px;margin-right: 2px; color: #2d99d6;
}
.yxinfobnt {
    cursor: pointer;color: #2d99d6;
}
.sydclist .info3 a:hover i.ico08 {
    color: #f00;
}
.plist3 li {
    font-family: Arial, sans-serif;

    overflow: hidden; padding: 8px 0;border-bottom: 1px dashed #ccc;*zoom: 1;
}
.plist3 li:last-child {
    border: none;
}
.plist3 img {
    float: left; margin-right: 10px; background: #eee;
}
.plist3 h3 {
    font-family: Microsoft YaHei,Tahoma,Geneva,sans-serif; font-size: 14px;

    margin-bottom: 5px;
}
.plist3 h3 a {
    color: #333;
}
.plist3 h3 a:hover {
    color: #f00;
}
.plist3 p {
    line-height: 24px;

    overflow: hidden; height: 24px;
}
.plist3 .ico {
    font-family: simsun;font-size: 12px; line-height: 14px;margin-right: 3px; padding: 2px;color: #fff;
    border-radius: 2px; background-color: #f06d07;
}
.plist3 .ico1 {
    background: #2d99d6;
}
/*** 商业地产右侧栏
--------------------- ***/
.sydc_rsider li {
    line-height: 30px; overflow: hidden;

    height: 30px;
}
.sydc_rsider span {
    float: right; padding-left: 10px; color: #777;
}
.sydc_rsider i {
    color: #eb6225;
}
.sydc_rsider i.gray {
    color: #666;
}
.sydc_rsider a:hover i.gray {
    color: #f00;
}
.more {
    color: #777;
}
