.vm,
label {
    vertical-align: middle;
}
.wrap {
    position: relative;
}
.Visits {
    font-size: 12px; left: 10px;
}
.banner {
    height: 120px;

    background: url(../images/jjrdp_17.gif);
}
.banner_old .btn {
    top: auto;
    right: 10px;bottom: 10px;
}
.banner .btn {
    line-height: 34px;position: absolute;top: 70px;right: 10px;overflow: hidden;zoom: 1;

    height: 34px;border: none;border-radius: 5px;background: rgba(0,0,0,.4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000);
}
.banner .btn .collect {
    width: 75px;height: 34px;
    padding: 0 10px;cursor: pointer;color: #fff600;border-right: 1px solid #5a5649;
}
.banner .btn a {
    display: block;padding-left: 20px;text-decoration: none;

    color: #fff;
}
.banner .btn .share {
    width: 50px;padding-top: 3px;padding-left: 10px;

    color: #fff;
}
.banner .u_i {
    position: relative;top: 20px;left: 20px;width: 870px;padding-left: 130px;
}
.banner .u_i .p {
    position: absolute;top: 0;left: 0;

    width: 100px;height: 130px;padding: 3px;border: 1px solid #bebebe;background-color: #fff;
}
.banner .u_i .n {
    font-family: Microsoft Yahei;
    font-size: 26px;line-height: 32px;overflow: hidden;height: 32px;color: #fff;
}
.banner .u_i .tel {
    font-family: tahoma,arial,Microsoft Yahei;font-size: 24px;font-weight: bold;line-height: 27px;

    height: 27px;margin-top: 15px;padding-left: 37px;color: #fff;background: url(../images/icon_banner.png) no-repeat 0 -34px;
}
/*导航 */
a.w_l_1,
a.w_l_1:hover,
.w_c_1 {
    color: #fd6300;
}
.nav_main {
    width: 1200px;margin: 0 auto;border-top: 1px solid #f9f9f9;border-bottom: 1px solid #e4e4e4;
    background-color: #f9f9f9;
}
.nav_main li {
    font-family: Microsoft Yahei;font-size: 16px;display: inline;
    float: left;margin: 0 5px;
}
.nav_main li a {
    font-family: Microsoft YaHei,Tahoma,Geneva,sans-serif; font-size: 18px;line-height: 32px;

    display: block;display: inline;float: left;height: 32px;padding: 0 15px;
}
.nav_main li a:hover,
.nav_main li.cur a {
    line-height: 30px;height: 30px;text-decoration: none;color: #fff;border-radius: 2px;
    background-color: #006ec7;
}
.nav_main .bread {
    padding-left: 150px;
}
/* 左边用户信息 */
.side {
    display: inline;float: left;

    width: 200px;
}
.ui-box1 {
    zoom: 1;margin-bottom: 10px;padding: 12px;border: 1px solid #d5d5d5;border-radius: 5px;
    background-color: #f9f9f9;
}
.side .subT {
    clear: both;overflow: hidden;zoom: 1;
}
.side .subT .h {
    font-size: 14px;font-weight: bold;line-height: 30px;height: 30px;
}
.side .subT .rz {
    padding-top: 5px;padding-left: 20px;
}
.side .qq-tip {
    overflow: hidden;

    border-radius: 2px;
}
.side .qq-tip .qq {
    position: relative;z-index: 2;

    height: 30px;border-radius: 2px 2px 0 0;background: url(../images/icon1.gif) repeat-x 0 -435px;
}
.side .qq-tip .qq a {
    font-size: 14px;font-weight: bold;line-height: 30px;position: absolute;top: 0;left: 0;

    display: block;height: 38px;text-decoration: underline;border-radius: 0 0 2px 2px;
}
.side .qq-tip .tip {
    position: relative;z-index: 1;zoom: 1;padding: 5px 8px;border: 1px solid #e4e4e4;
    background-color: #fff;
}
.ui-box1 {
    zoom: 1;margin-bottom: 10px;padding: 12px;border: 1px solid #d5d5d5;border-radius: 5px;
    background-color: #f9f9f9;
}
.side .con {
    line-height: 22px;clear: both;padding-top: 3px;word-break: break-all;
}
.btn-phone {
    line-height: 30px; float: left;

    height: 30px; padding: 0 8px;border: 1px solid #ddd; background: #fff;
}
.btn-phone i {
    padding-right: 2px;

    color: #006ec7;
}
.emall i {
    line-height: 24px;

    float: left;width: 150px;
}
.ui-box1 {
    zoom: 1;margin-bottom: 10px;padding: 12px;border: 1px solid #d5d5d5;border-radius: 5px;
    background-color: #f9f9f9;
}
.side .tel {
    font-size: 16px;line-height: 28px;

    height: 29px;margin: 5px 0;color: #4d95e1;
}
/*  店铺热推二手房 标题 */
.inMain {
    display: inline;float: right;

    width: 990px;
}
.inMain_tab {
    line-height: 28px;position: relative;

    height: 30px;
}
.inMain_tab span {
    font-size: 14px;font-weight: bold;line-height: 28px;display: inline;display: inline;float: left;

    height: 30px;padding: 0 15px;color: #fff;border-bottom: none;border-radius: 5px 5px 0 0;background-color: #006ec7;
}
/* 筛选条件 */
.moreSelect {
    zoom: 1;height: 34px;padding-top: 5px;padding-right: 10px;

    border: 1px solid #d6d6d8;border-top-color: #006ec7;border-radius: 0 0 5px 5px;background: url(../images/icon_search-bg.jpg) repeat-x;
}
.moreSelect .btn-sort {
    line-height: 22px;

    float: left;margin: 2px 0 0 5px;padding: 0 5px;color: #666;border: 1px solid #ccc;
}
.moreSelect .btn-sort .ico08 {
    position: relative;top: 4px;*zoom: 1;
}
.moreSelect .btn-sort .u {
    top: -4px;right: -8px;
}
.moreSelect .act {
    color: #006ec7;
    border-color: #006ec7;
}
.moreSelect .btn-sort:hover {
    text-decoration: none;
}
.moreSelect .bldown .u {
    color: #888;
}
.moreSelect .blup .d {
    color: #888;
}
/* 楼盘检索 */
.lp-janshuo {
    position: relative;z-index: 10;

    border: 1px solid #ddd;
}
.js-list dl {
    line-height: 24px;

    overflow: hidden;padding-left: 10px;vertical-align: top;
}
.js-list dt {
    font-weight: bold;
}
.js-list dd {
    margin-left: 38px;
}
.js-list dd .act,
.js-list dd a:hover {
    text-decoration: none;

    color: #fff;background: #327acf;
}
.js-list dd a {
    display: inline-block;margin-right: 2px;margin-bottom: 8px;
    padding: 0 5px;color: #327acf;border-radius: 2px;
}
.morefjj {
    font-family: arial;position: relative;
    z-index: 2;padding: 6px 0 6px 10px;

    border-top: 1px solid #ddd;
}
.morefjj .in3 {
    line-height: 24px;width: 120px;
    height: 24px;padding: 0 5px;border: 1px solid #ccc;border-right: none;
}
.morefjj .b2 {
    float: left;

    width: 55px;height: 26px;margin-right: 10px;cursor: pointer;color: #fff;border: none;background: url(../images/icon_search.gif) no-repeat 0 -6px;
}
.morefjj .b3 {
    font-size: 13px;line-height: 26px;display: inline-block;

    width: 60px; height: 26px; text-align: center; background-position: 0 -42px;
}
/* 列表内容 */
.esfylist {
    padding: 15px 5px;color: #666;border-color: #e1e1e1 #fff;
    border-bottom: 1px solid #e1e1e1;
}
.esfylist .pic {
    position: relative;

    float: left;margin-right: 15px;
}
.esfylist .pic img {
    width: 160px; height: 120px;
    padding: 2px;border: 1px solid #ccc;
}
.esfylist .info {
    float: left;

    width: 380px;
}
.esfylist .info span.Tip {
    padding: 0 8px; color: #bbb;
}
.esfylist .info h2 a {
    font-size: 14px;font-weight: bold;

    float: left;color: #666;
}
.esfylist .info em,
.esfylist .info h2 {
    line-height: 25px;display: block;overflow: hidden;

    height: 30px;
}
.esfylist .info i {
    color: #c00;
}
.c0,
.c0 a {
    font-size: 13px; font-weight: bold;

    color: #006ec7;
}
.esfylist .pip {
    margin: 0 5px;
}
.esfylist .info img {
    vertical-align: middle;
}
.esfylist .info2 {
    float: left;

    width: 100px;padding-left: 10px;
}
.esfylist .info2 em {
    line-height: 30px;display: block;overflow: hidden;

    height: 30px;
}
.esfylist .info3 {
    float: right;

    width: 100px;
}
.esfylist .info3 em {
    line-height: 28px;

    display: block;overflow: hidden;height: 28px;
}
.esfylist .info3 i {
    font-family: arial;font-weight: bold;color: #eb5f00;
}
.esfylist .info3 .yx {
    display: block;width: 60px; text-align: center;color: #fff;
    background-color: #0d8ee9;
}
/* 个人介绍 */
.subT1 {
    line-height: 30px;

    height: 30px;padding-left: 10px;
}
.subT1 .h {
    font-size: 14px;font-weight: bold;height: 30px;padding-left: 10px;

    background: url(../images/bg_bankuai.png) no-repeat scroll 0 8px rgba(0, 0, 0, 0);
}
.person_intro {
    font-size: 14px;
    line-height: 26px;
}
.ui-box1 {
    zoom: 1;margin-bottom: 10px;padding: 12px;border: 1px solid #d5d5d5;border-radius: 5px;
    background-color: #f9f9f9;
}
.person_intro .txt1 {
    padding: 8px 10px;
}

.bor1 {
    border-bottom: 1px dotted #c8c8c8;
}

/*留言*/
.lynr {
    margin-bottom: 10px;padding: 10px;

    border: 1px solid #ddd;
}
.dzhf {
    padding: 10px;

    border: 1px solid #ccc; background: #fafafa;
}
.lynr span {
    color: #777;
}

.page1 a {
    line-height: 100px;

    display: inline-block;overflow: hidden;width: 16px;height: 15px;vertical-align: text-bottom;
}
.page1 .page_prev {
    background: url(../images/last_t.gif) 0 0 no-repeat;
}
.page1 .page_prev-dis {
    background: url(../images/last_t-dis.gif) 0 0 no-repeat;
}
.page1 .page_next {
    background: url(../images/next_t.gif) 0 0 no-repeat;
}
.page1 .page_next-dis {
    background: url(../images/next_t-dis.gif) 0 0 no-repeat;
}

.liuyanbiao {
    font-family: simsun;font-size: 13px;padding: 10px;

    border: 1px solid #ccc;
}
.liuyanbiao input {
    line-height: 15px; width: 409px;height: 15px; padding: 0 5px;

    border: 1px solid #ccc;
}
.liuyanbiao input.txt1 {
    line-height: 22px;

    height: 22px; padding: 5px;vertical-align: middle;
}
.liuyanbiao input.yzm {
    width: 60px;
}
.liuyanbiao textarea {
    width: 419px;

    border: 1px solid #ccc;
}
.liuyanbiao img {
    vertical-align: middle;
}
.liuyanbiao input.button {
    line-height: 30px; position: absolute;

    width: 143px; height: 30px; margin-left: 65px;cursor: pointer;text-align: center; vertical-align: middle; border: none; border: 1px solid #ddd;border-radius: 3px;background: #eee;
}


.p_bar .p_curpage,
.p_bar a:hover {
    border: 1px solid #006ec7;
    background: #006ec7;
}
.txt-wrap {
    display: inline-block;
}
.lbl {
    position: absolute;left: 160px;
}
.lbl img {
    height: 34px;
}
.reg-wrap {
    position: relative;

    width: 500px;
}
/*占位符*/
.prech {
    color: #fff;
}
